.box {
  width: 450px;
  height: 450px;
  padding: 25px 50px;
  background-color: white;
  display: inline-block;
  margin-top: 200px;
  .tab-text {
    font-size: 25px;
    font-weight: 600;
    margin: 0 8px;
  }
}
